@mixin all_outImg($position) {
    width: 90%;
    height: 13rem;
    object-fit: cover;
    object-position: $position;
    filter: grayscale(50%);
    &:hover{
        filter:none;
        
    }
}
.outImg{
 @include all_outImg(center)  
}
.outImgEnd{
 @include all_outImg(top)  
    
}


