.logo {
    background-image: url(/images/logo.jpg);
    background-repeat: no-repeat;
    position: absolute;
    top: 1.5rem;
    right: 5rem;
    width: 8rem;
    height: 8rem;
    background-size: contain;
    background-position: center;
    &:hover{
        transform: rotate(360deg);
        transition: transform 0.3s linear; 
        
    }
  }
  @media screen and (max-width: 1200px) {
      .logo{
       background-image:none;   
      }
       
  }
@mixin NavbarItem($fontColor) {   
    font: {
        family: 'Fredoka' !important;
        family: 'Henny Penny' !important;
        size: 2.5rem !important;
        weight: 500 !important;  
    }
    color: $fontColor !important;
    &:hover{
    text-shadow: $lightColor 1px 1px 1px;    
    }

   }
.AColor{
@include NavbarItem($Acolor);
}
.BColor{
    @include NavbarItem($Bcolor);
}
.CColor{
    @include NavbarItem($Ccolor);
}



